#root {
  text-align: center;
}
 body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    height: 100%;
    box-sizing: border-box;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid black;
  width: 100%;
}
p{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin : 0;
 }
h1 {
  font-size: 2.4em;
}
.nav-btns{
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
}
.search-container{
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  gap: 5rem;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  border-color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #888;
}
#sign-up-link:hover{
  color: red;
  cursor: pointer;
}
form{
  max-width: 19rem;
  padding: 7rem;
}
input[type="text"]{
  height: 5rem;
  width: 40rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5rem;
}
label{
  display: block;
  margin-bottom: 2rem;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

}
.modal-content-container {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 40rem;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.modal-content {
  padding: 1rem;
  overflow: scroll;
  height: 33rem;
}
.songs-header{
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
}
.results{
  margin-top: 0;
  margin-bottom: 2.6rem;
}
.song-info{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-bottom: 2rem;
}
.song-img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 5px;
}
.song-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.song-name{
  display: flex;
  font-weight: bold;
  font-size: 1.5rem;

}
.artist-name{
  font-size: 1.5rem;
}
.favorite-songs{
  display: flex;
  flex-wrap: wrap;
  padding: 2.8rem;
  justify-content: center;
  height: 50rem;
  overflow: scroll;
  border-top: #888 solid 5px;
}
.song-card{
  position: relative;
  margin: 20px;
  display: flex;
  height: 27rem;
  width: 19rem;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  border: none;
  border-radius: 1.4rem;
  cursor: pointer;
}
.card-image{
  border-radius: 1.35rem;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.card-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.3rem;
}
.card-song{
  font-size: 2rem;
  font-weight: bold;
  margin: none;
}
.favorite-action{
  font-size: 3rem;
  cursor: pointer;
}
.delete-action{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}
#permission{
  display: flex;
  margin-top: 28rem;
  justify-content: center;
  color: red;
  font-size: 5rem;
}
.delete-action{
  color: red;
}
.loading-container{
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}
