#root {
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightgray;
  height: 100%;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid black;
  width: 100%;
}
p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin: 0;
}
h1 {
  font-size: 2.4em;
}
.nav-btns {
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
}
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  gap: 5rem;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  border-color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #888;
}
#sign-up-link:hover {
  color: red;
  cursor: pointer;
}
form {
  max-width: 19rem;
  padding: 7rem;
}
input[type="text"] {
  height: 5rem;
  width: 40rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5rem;
}
label {
  display: block;
  margin-bottom: 2rem;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content-container {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50rem;
  height: 40rem;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.modal-content {
  display: flex;
  padding: 1rem;
  overflow: scroll;
  height: 33rem;
  justify-content: space-between;
  flex-direction: column;
}
.songs-header {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
}
.results {
  margin-top: 0;
  margin-bottom: 2.6rem;
}
.song-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.song-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 5px;
}
.song-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.song-name {
  display: flex;
  font-weight: bold;
  font-size: 1.5rem;
}
.artist-name {
  font-size: 1.5rem;
}
.favorite-songs {
  display: flex;
  flex-wrap: wrap;
  padding: 2.8rem;
  justify-content: center;
  height: 50rem;
  overflow: scroll;
  border-top: #888 solid 5px;
}
.song-card {
  position: relative;
  margin: 20px;
  display: flex;
  height: 29rem;
  width: 19rem;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  border: #888 solid 1px;
  border-radius: 1.4rem;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
}
.song-card:hover {
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.4),
    0 20px 30px rgba(0, 0, 0, 0.2);
  border: none;
}
.card-image {
  border-radius: 1.35rem;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.card-img-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.play-pause-button {
  display: flex;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  transition: background-color 0.2s ease;
  z-index: 5;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
}
.play-pause-button:hover {
  background-color: #888;
}
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-song {
  font-size: 2rem;
  font-weight: bold;
  margin-top: none;
}
.card-artist {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.favorite-action {
  font-size: 3rem;
  cursor: pointer;
}
.delete-action {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}
#permission {
  display: flex;
  margin-top: 28rem;
  justify-content: center;
  color: red;
  font-size: 5rem;
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: 1;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.delete-action {
  color: red;
}
.loading-container {
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
  margin-top: 33rem;
}
.search-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.search-modal-content-container {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 40rem;
  height: 40rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.sidebar.open {
  width: 200px;
  transition: width 700ms;
  background: #222;
  overflow: hidden;
  color: #fff;
}
.sidebar {
  width: 60px;
}
.aside {
  display: flex;
  height: 100vh;
  border: none;
}
.admin {
  display: flex;
  height: 100vh;
}
.data-page {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  height: fit-content;
}
.page-control {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.next {
  display: flex;
  font-size: 3rem;
  cursor: pointer;
}
.prev {
  display: flex;
  font-size: 3rem;
  cursor: pointer;
}
.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
